.host {
  padding: 15px;
  width: 100%;
  display: flex;
  justify-content: space-between;

  .user {
    width: 100%;
  }

  .actions {
    display: flex;
    align-items: center;
  }
}
